export(fitRegCombin)
export(getRegAnalysis)
export(getRegCombin)
export(getRegCombinInput)
export(performRegAnalysis)
exportClasses(RegAnalysis)
exportClasses(RegCombin)
exportMethods(fitRegCombin)
exportMethods(getRegAnalysis)
exportMethods(getRegCombin)
exportMethods(getRegCombinInput)
exportMethods(initialize)
exportMethods(performRegAnalysis)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
